.box-container {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background: rgba(255, 255, 0, 0.7);
    transition: 1s 2s cubic-bezier(0.36, 0.04, 0.91, 1.63);
}

.box:hover {
    /* transform: scale(2) rotate(45deg); */
    /* transform: translate(100px, 10px); */
    transform: scale(2);
    /* transform-origin: left top; */
}